<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:wemiller.com</string>
	</array>
	<key>com.apple.developer.shazamkit</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.blaineam.kith</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.blaineam.kith</string>
		<string>$(AppIdentifierPrefix)com.blaineam.kith.shared</string>
	</array>
</dict>
</plist>
